<div class="page-container">
    <div class="container d-flex justify-content-center">

        <div class="mt-5 card-inicio col-6">
            <img class="card-img-top"
                 src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png"
                 alt="">
            <div class="card-body">
                <h4 class="card-title text-center text-danger">Ups!</h4>
                <p class="card-text text-center text-primary">Es necesario cargar los pokemones a la BD </p>

                <div class="row">
                    <button class="mx-auto btn btn-primary"
                    (click)="cargar()">Cargar Pokemones</button>
                </div>

            </div>
        </div>
    </div>
</div>