.badge{
    font-weight: 500;
    font-size: 16px;
    @media only screen and (max-width : 640px) {
        font-size: 12px;
    }
}

.card-container{
    border-radius: 10px;
    width: 600px; 
    @media only screen and (max-width : 640px) {
        width: 98%; 
    }
    
}