
*{
  font-family: 'Exo 2', sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~src/scss/card';


html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #01293c;
  background-color: #01293c;
}
*{
  scrollbar-color: gray #c2cfe0;
  scrollbar-width: thin;
  scrollbar-arrow-color: #c2cfe0;
  scroll-behavior: smooth;
  &::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }
}