@import "~bootstrap/scss/bootstrap";

$primary: #0074d9;
$secondary: #ff4136;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);


*{
  font-family: 'Exo 2', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}





/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
