
*{
  font-family: 'Exo 2', sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~src/scss/card';


html,body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #01293c;
  background-color: #01293c;
}
